<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  FantasyLoL provides a fantasy football experience through the League of Legends esports scene. FantasyLoL is currently under development.
</p>

