<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Fantasy LoL</h1>

  <h2>
    Fantasy League of Legends
  </h2>

  <%= link_to "Login", signin_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


